.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  align-items: center;
}
.header__name {
  padding: 10px 20px;
  cursor: pointer;
  font-size: large;
  color: rgb(16, 90, 115);
}
.header__btn {
  padding: 10px 25px;
  padding-right: 30px;
  border-radius: 5px;
  background-color: #dd4b39;
  color: white;
  cursor: pointer;
}

.header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__displayName {
  padding-right: 10px;
}
.user__photoURL {
  height: 40px;
  padding-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}
